{% extends "/layouts/layout.html.twig" %}

{% block content %}
    Welcome to your new Silex Application!
    <br/>
    <a href="/user">User page</a>
    <br/>
    <a href="/user/profile">User Profile</a>
{% endblock %}